* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

/* header */

a {
  text-decoration: none;
  color: #000000;
}
header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  /* position:relative; */
}

h1 {
  font-size: 1.7rem;
}

.svgBurger {
  margin-top: 5px;
  font-size: 2rem;
}

.menu_display {
  /* display: block; */
  opacity: 1;
  top: 50px;
}

header nav {
  position: absolute;
  right: 15px;
  top: -250px;
  background-color: #999;
  padding: 1rem;
  /* display: none; */
  opacity: 0;
  transition: all 0.5s ease-out;
}
header nav ul li {
  list-style: none;
}

#logo {
  width: 2.5rem;
  /* height: 3rem; */
}

/*  main */

.bloc {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

/* section 1 */
#hero {
  background-image: url(/img/stage.jpg);
  background-size: cover;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 1rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  background-color: #ff0;
  border: none;
  padding: 0.5rem;
}

.card {
  background-color: #000000;
  color: #fff;
  width: 80%;
  max-width: 800px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

#text {
  max-width: 600px;
  margin-right: 10px;
}

/* section 2 */

#socialLink button {
  background-color: #000000;
  color: #fff;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  display: flex;
}
#socialLink {
  padding: 1rem;
}
#socialLink button i {
  padding-top: 5px;
  margin-right: 10px;
}

.link i {
  margin-right: 100px;
  background-color: #000000;
}

/* section 3 */

#section3 {
  text-align: center;
}

.artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

/* section 4 */

#blog {
  background-color: #ff0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
  margin: 1rem;
}

/* section 5 */

#album {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news {
  max-width: 70%;
}

#section5 h2 {
  text-transform: uppercase;
}

span {
  color: #f00;
}

/* section 6 */
#section6 {
  background-color: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  text-transform: uppercase;
}

.date {
  margin: 1rem;
  max-width: 400px;
}

/* section 7 */
#discography {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

figure {
  margin: 1rem;
  position: relative;
  width: 100%;
}

figcaption {
  position: absolute;
  display: flex;
  top: 70%;
  left: 45%;
  background-color: #ffffffb4;
  padding: 3px;
}

/* section 8 */

#section8 {
  padding: 2rem;
  background-color: #ff0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#section8 i {
  margin: 1rem;
  font-size: 3rem;
}

/* footer */
footer {
  padding: 3rem;
}

@media (min-width: 610px) {
  #menu_burger {
    display: none;
  }
  header nav {
    top: 0px;
    opacity: 1;
    position: relative;
    background-color: #fff;

  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  li {
    margin-left: 0.5rem;
  }

  #menu_open {
    display: flex;
  }

  .bloc {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .news {
    width: 350px;
  }

  #pochette {
    background-image: url(/img/efe-kurnaz-unsplash.jpg);
    background-size: cover;
    height: 300px;
    width: calc(100% + 100px);
  }
  .disc img {
    width: 300px;
  }
  #section8 button {
    display: flex;
    font-size: 1rem;
    align-items: center;
  }
}
